<ion-view title="{{type}} - {{subtype}}">
	<!--<ion-nav-bar class="nav-title-slide-ios7 bar-positive">
    	<ion-nav-back-button class="button-icon ion-arrow-left-c button back-button activated">
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    
  </ion-nav-bar>-->
      
  <ion-content>
  
	  <!--<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="doRefresh()">
	  </ion-refresher>
	  -->
	    <div class="list">	
	   <!-- <a class="item item-thumbnail-left" ng-repeat="item in items" href="#/menu/event_detail/{{item}}"> -->
	   <a class="item" ng-repeat="item in items" ng-click="loadEventDetail(item)">
	      <div class="ea">
	    	<span class="et">{{item.title}}</span>
		    <div class="ed dh">{{item.description}}</div>
		    <div class="ed">Los Angeles Convention Center</div>
		    <div class="ed">Los Angeles, CA</div>
		 </div>
	    </a>
	    
	    <!--<a class="item item-thumbnail-left" href="#">
	      <img src="img/ionic.png">
	      <h2>Pretty Hate Machine</h2>
	      <p>Nine Inch Nails</p>
	    </a>-->
	</div>
  </ion-content>
</ion-view>
