<ion-view title="Playground">
  <ion-content padding="true">
    
    <div ng-controller="EventListViewCtrl">
    <div class="ea">
    	<span class="et">Awesome Sauce Expo 2014</span>
	    <div class="ed dh">December 5 - December 7</div>
	    <div class="ed">Los Angeles Convention Center</div>
	    <div class="ed">Los Angeles, CA</div>
	 </div>
	 <div class="ac">
    	<span class="acc">234</span>
	    <div class="ed dh">attending</div>
	 </div>
    
    	<button class="button button-block create-button" ng-click="createEvent()">Create An Event</button>
		<!--<select ng-model="view_select_value" ng-options="select_option.name for select_option in select_options"></select> -->
    	<ion-list class="evl">
    	    <!-- <ion-item ng-repeat="value in list_values" ng-click="showBy(value)" href="#/menu/events_view/{{view_select_value.name}}/{{value | lowercase}}">{{value}}</ion-item> -->
			<ion-item class="evl" ng-repeat="value in list_values" ng-click="showBy(value)">{{value}}</ion-item>
    	 </ion-list>		
    	
    </div>
    
  </ion-content>
</ion-view>
