<ion-view title="Peeps">
  
  	<ion-pane ng-controller="CardsCtrl">
  	<!--
      <ion-header-bar class="bar-transparent">
        <h1 class="title">Help Out</h1>
      </ion-header-bar>
	  -->
	  
      <swipe-cards on-card-swipe="onSwipe($event)">

      <swipe-cards>
        <swipe-card on-card-swipe="cardSwiped()" id="start-card">
          Swipe down for a new card
        </swipe-card>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">

          <div ng-controller="CardCtrl">
            <div class="title">
              {{card.first_name}}
            </div>
            <div class="image">
              <img ng-src="{{card.image.url}}">
            </div>
            <div class="button-bar">
              <button class="button button-clear button-positive" ng-click="showEvents(card)">View {{}}'s Events</button>
            </div>
          </div>
        </swipe-card>
      </swipe-cards>
    </ion-pane>
    
    <!--<img src="http://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic.png" style="display: none">
    <img src="http://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic2.png" style="display: none">
    <img src="http://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic3.png" style="display: none">
    <img src="http://ionicframework.com.s3.amazonaws.com/demos/ionic-contrib-swipecards/pic4.png" style="display: none">
	-->
	
</ion-view>
