<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-tabs class="tabs-icon-top" ng-class="$root.tabsHidden">


  <!-- Dashboard Tab -->
  <ion-tab title="List" icon="icon ion-navicon" href="#/menu/tab/eventslist">
    <ion-nav-view name="tab-eventslist"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="Peeps" icon="icon ion-person" href="#/menu/tab/faces">
    <ion-nav-view name="tab-faces"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Trending" icon="icon ion-arrow-graph-up-right" href="#/menu/tab/trending">
    <ion-nav-view name="tab-trending"></ion-nav-view>
  </ion-tab>


</ion-tabs>
