<ion-view title="Sign-Up" ng-controller="SignUpCtrl">

<ion-nav-bar class="nav-title-slide-ios7 bar-positive" title="Sign Up">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

	<ion-content scroll="false">
	  <div class="list">
	    <label class="item item-input item-stacked-label">
	      <span class="input-label">First Name</span>
	      <input type="text" ng-model="user.first_name">
	    </label>
	     <label class="item item-input item-stacked-label">
	      <span class="input-label">Last Name</span>
	      <input type="text" ng-model="user.last_name">
	    </label>
	    <label class="item item-input item-stacked-label">
	      <span class="input-label">Email</span>
	      <input type="text" ng-model="user.email">
	    </label>
	    <label class="item item-input item-stacked-label">
	      <span class="input-label">Password</span>
	      <input type="password" ng-model="user.password">
	    </label>
	    <label class="item item-input item-stacked-label">
	      <span class="input-label">Confirm Password</span>
	      <input type="password" ng-model="user.confirm_password">
	    </label>
	    
	  </div>
	  <button class="button button-block button-positive" ng-click="signUp(user)">
Next</button>
	  </div>
	</ion-content>
</ion-view>
