<ion-view title="Upload Photo" ng-controller="UploadPhotoCtrl">

<ion-nav-bar class="nav-title-slide-ios7 bar-positive" title="Upload Photo">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>

	<ion-content>
	<div><!--
	<button class='button button-positive' data-ng-click="takePicture()">
            TAKE PICTURE
          </button> 
	</div>
	<div class="item item-image">
		<img ng-src="{{cameraPic}}"/>
	</div>-->
	
	<input type="file" id="file" name='file' ng-file-select="onFileSelect($files)"/>

	<img ng-src="{{fileUrl}}"/>
	
	<p class="text-center">
	      <a href="#/terms">Next</a>
	    </p>
	</ion-content>
</ion-view>
